[Unit]
Description=Umount user mount points
ConditionUser=!@system

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/bin/true
ExecStop=/usr/bin/umounter.user

[Install]
WantedBy=default.target
